<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spaces</title>
</head>
<body>
  
  <% @spaces.each do |space| %>
  <br>
  <%= space.name %>
  <%= space.description %>
  <%= space.price %>
  <%= space.available_from %>
  <%= space.available_to %>
  <% end %>
  <br>

  
</body>
</html>