<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Space</title>
</head>
<body>

  <%= @space.name %>
  <%= @space.description %>
  <%= @space.price %>
  <%= @space.available_from %>
  <%= @space.available_to %>
  
</body>
</html>