<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Space</title>
</head>
<body>

<div class="description">
  <p>
  <h1> All your spaces </h1>
  </p>


  
</div>

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Your space</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">
        <% @user.spaces.each do |space| %>
        <h5><%= space.name %>: </h5>
        <b>Description:</b> <%= space.description %>
        <br>
        <b>Price:</b> £<%= space.price %>
        <br>
        <b>Available from:</b> <%= space.available_from %>
        <br>
        <b>Available to:</b> <%= space.available_to %>
        <br>
        <% end %>
        <br>

      
    </p>







  <!-- <form action="/user/<%= @user.id %>" method="get"> -->

  <a href="/user/<%= @user.id %>" class="btn btn-danger" role="button">Back to your homepage</a>
  </form>
</div>

</body>
</html>
