<h1> Hello <%= @user.name %> </h1>

<h2> From here you can search for a property or list one of your own </h2>

<form action="/user/<%= @user.id %>/space/new" method="get">
  <input type="submit" value="Add space"/>
</form>

<form action="/user/<%= @user.id %>/space" method="get">
  <input type="submit" value="View your spaces"/>
</form>


<div class="description">

  <p>
    <h1> Hello <%= @user.name %> </h1>

  </p>

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1" class="text-white bg-dark">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="text-white bg-dark">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
  
    <a href=/user/<%= @user.id %>/space" class="btn btn-primary" role="button">View your spaces</a>
  </form>
</div>





